.container {
  position: relative;
  width: 300px;

  .wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #bebebe;
    border-top: none;
    border-radius: 20px;
    margin-top: 10px;
    z-index: 1000;
    padding: 8px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    


    .dropdown {
      
      width: 100%;
      overflow-y: auto;
      max-height: 250px;
      
      &::-webkit-scrollbar {
        width: 8px;
        display: block;
      }
  
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
      }
  
      &::-webkit-scrollbar-thumb {
        background: #bebebe;
        border-radius: 10px;
      }
  
      &::-webkit-scrollbar-thumb:hover {
        background: #a1a1a1;
      }


      .item {
        padding: 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #7b7b7b;

        &.active {
          border-radius: 8px;
          background-color: #cef2ff;
          color: #167da3;
        }

        .check {
          color: #167da3;
        }
      }
    }
  }



  .input {
    padding: 8px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    border: 2px solid #e2e2e2;
    color: #7b7b7b;

    &:focus {
      border: 2px solid rgb(62, 62, 218);
      box-shadow: 0 0 0 5px rgba(65, 122, 255, 0.3);
    }
  }

  .arrow {
    position: absolute;
    top: 5px;
    right: 10px;
    transition: transform 0.3s ease-in-out;
    color: #7b7b7b;
    transform-origin: center;
    width: 24px;
    height: 24px;

    &.open {
      transform: rotate(180deg);
    }
  }
}